In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
import json
import pymongo
from IPython.display import Image, display
from datetime import datetime

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
There is no [win32] chromedriver for browser 94.0.4606 in cache
Get LATEST driver version for 94.0.4606
Trying to download new driver from https://chromedriver.storage.googleapis.com/94.0.4606.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Thi\.wdm\drivers\chromedriver\win32\94.0.4606.61]

# Latest MARS News

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, "lxml")

In [5]:
news = soup.find("div", {"id": "news"})
news

<div class="container" id="news">
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8568_PIA23515_annotated-globe-320x240.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 25, 2021</div>
<div class="content_title">NASA's Treasure Map for Water Ice on Mars</div>
<div class="article_teaser_body">A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8782_PIA-23989-320.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 24, 2021</div>
<div class="content_title">Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth</div>
<div class="article_teaser_body">Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8595_mars_winds_preview_4-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 24, 2021</div>
<div class="content_title">NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate</div>
<div class="article_teaser_body">Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8721_24759_PIA23491-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 22, 2021</div>
<div class="content_title">A New Video Captures the Science of NASA's Perseverance Mars Rover</div>
<div class="article_teaser_body">With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8544_Pathfinder-Background-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 20, 2021</div>
<div class="content_title">Screening Soon: 'The Pathfinders' Trains Lens on Mars</div>
<div class="article_teaser_body">With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8663_PIA23316-annotated-16-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 18, 2021</div>
<div class="content_title">NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'</div>
<div class="article_teaser_body">A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8695_24732_PIA23499-226.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 15, 2021</div>
<div class="content_title">The Launch Is Approaching for NASA's Next Mars Rover, Perseverance</div>
<div class="article_teaser_body">The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan. </div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8536_Mars_chemist_320x240px.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 14, 2021</div>
<div class="content_title">New Selfie Shows Curiosity, the Mars Chemist</div>
<div class="article_teaser_body">The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8518_PIA23373-320x240.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 9, 2021</div>
<div class="content_title">NASA's Push to Save the Mars InSight Lander's Heat Probe</div>
<div class="article_teaser_body">The scoop on the end of the spacecraft's robotic arm will be used to 'pin' the mole against the wall of its hole.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8511_PIA23279-226.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 8, 2021</div>
<div class="content_title">Deadline Closing for Names to Fly on NASA's Next Mars Rover</div>
<div class="article_teaser_body">You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover. </div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8719_launch-at-home-320.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 6, 2021</div>
<div class="content_title">NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch</div>
<div class="article_teaser_body">There are lots of ways to participate in the historic event, which is targeted for July 30.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8512_PIA23463-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 4, 2021</div>
<div class="content_title">NASA Mars Mission Connects With Bosnian and Herzegovinian Town</div>
<div class="article_teaser_body">A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8801_20201118_mars2020-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 2, 2021</div>
<div class="content_title">Hear Audio From NASA's Perseverance As It Travels Through Deep Space</div>
<div class="article_teaser_body">The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8408_22206_PIA22655-th.gif"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">October 1, 2021</div>
<div class="content_title">The MarCO Mission Comes to an End</div>
<div class="article_teaser_body">The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.</div>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<hr/>
<div class="row">
<div class="col-md-4">
<div class="list_image">
<img src="https://mars.nasa.gov/system/news_items/list_view_images/8641_PIA-23821-320x240.jpg"/>
</div>
</div>
<div class="col-md-8">
<div class="list_text">
<div class="list_date">September 25, 2021</div>
<div class="content_title">NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes</div>
<div class="article_teaser_body">After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.</div>
</div>
</div>
</div>
</div>
</div>

In [6]:
rows = news.find_all("div", {"class","row"})
first_row = rows[0]

title = first_row.find("div", {"class", "content_title"}).text
paragraph = first_row.find("div", {"class", "article_teaser_body"}).text

print(title)
print(paragraph)

NASA's Treasure Map for Water Ice on Mars
A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.

# Featured Mars Image

In [7]:

url2 = "https://spaceimages-mars.com/"
browser.visit(url2)

In [8]:
html2 = browser.html
soup2 = BeautifulSoup(html2, "lxml")

In [9]:

image = soup2.find("img", {"class": "headerimage fade-in"})
src = soup2.find("img", {"class": "headerimage fade-in"})["src"]
print(image)
print(src)

<img class="headerimage fade-in" src="image/featured/mars1.jpg"/>
image/featured/mars1.jpg

In [10]:
featured_image_url = url2 + src
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

# Mars Facts

In [15]:
url3 = 'https://galaxyfacts-mars.com/'
browser.visit(url3)

In [16]:
tables = pd.read_html(url3)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
type(tables)

list

In [18]:
df=tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:

# DON'T RUN MORE THAN ONCE!!!!!
df.columns = df.iloc[0]
df= df[1:]
df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
df.to_html('table.html')

# Mars Hemisphere

In [24]:
url4 = "https://marshemispheres.com/"
browser.visit(url4)

In [25]:
html = browser.html
soup4 = BeautifulSoup(html, "lxml")

In [26]:
hemis = soup4.find_all("div", {"class":"item"})
len(hemis)

4

In [27]:
hemis[0].find("a", {"class":"itemLink"})["href"]

'cerberus.html'

In [31]:
hemi_page = []
for hemi in hemis:
    hemi_url = url4 + hemi.find("a", {"class":"itemLink"})["href"]
    browser.visit(hemi_url)
    time.sleep(1)
    
    html4 = browser.html
    soup4 = BeautifulSoup(html4, "lxml")
    
    image_link = soup4.find("img", {"class","wide-image"})["src"]
    title = soup4.find("h2", {"class", "title"}).text
    
    info = {
        "image_url": image_link,
        "title":title
    }
    
    hemi_page.append(info)

In [32]:
hemi_page

[{'image_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'image_url': 'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'image_url': 'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'image_url': 'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [33]:
browser.quit()

In [34]:
# Example:
all_data = {
    "title":title,
    "paragraph": paragraph,
    "featured_image_url":featured_image_url,
    "mars_earth_facts": html_table,
    "hemisphere_info": hemi_page,
    "last_updated": datetime.utcnow()
    }

print(all_data)

{'title': 'Valles Marineris Hemisphere Enhanced', 'paragraph': 'A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.', 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg', 'mars_earth_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>', 'hemisphere_info': [{'image_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 'title': 'Cerberus Hemisphere Enhanced'}, {'image_url': 'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 'title': 'Schiaparelli Hemisphere Enhanced'}, {'image_url': 'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 'title': 'Syrtis Major Hemisphere Enhanced'}, {'image_url': 'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg', 'title': 'Valles Marineris Hemisphere Enhanced'}], 'last_updated': datetime.datetime(2021, 10, 25, 20, 5, 51, 204413)}

# MongoDB

In [35]:
# Create connection variable
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)

# Connect to a database. Will create one if not already available.
db = client.mars_scraping

In [36]:
# insert into mongo
db.mars_info.insert_one(all_data)

In [37]:
scrape_info = db.mars_info.find({}, sort=[('last_updated', pymongo.DESCENDING)], limit=1)
scrape_info[0]

{'_id': ObjectId('61770e228fe406b19faf7b9a'),
 'title': 'Valles Marineris Hemisphere Enhanced',
 'paragraph': 'A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'mars_earth_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_info': [{'image_url': 'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'image_url': 'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'image_url': 'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'image_url': 'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}],
 'last_updated': datetime.datetime(2021, 10, 25, 20, 5, 51, 204000)}